---
import Hero from "@/components/home/hero.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Technology from "@/components/home/Technology.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <Hero />
    <Technology />
  </main></BaseLayout
>
