---
import { CONTACT_EMAIL, CONTACT_PHONE } from "@/consts";
import {
  BuildingOffice2Icon,
  EnvelopeIcon,
  PhoneIcon,
} from "@heroicons/react/20/solid";
import ContactForm from "./ContactForm.tsx";
---

<div class="relative isolate bg-background">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pt-24 pb-20 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div
          class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden lg:w-1/2"
        >
        </div>
        <h2
          class="text-4xl font-semibold tracking-tight text-pretty text-foreground sm:text-5xl"
        >
          Get in touch
        </h2>
        <p class="mt-6 text-lg/8 text-muted-foreground"></p>
        <dl class="mt-10 space-y-4 text-base/7 text-muted-foreground">
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Address</span>
              <BuildingOffice2Icon className="size-6 text-muted-foreground" />
            </dt>
            <dd>1965 W Henderson Rd.<br />Upper Arlington, OH 43220</dd>
          </div>
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Telephone</span>
              <PhoneIcon className="size-6 text-muted-foreground" />
            </dt>
            <dd>
              <a href={`tel:${CONTACT_PHONE}`} class="hover:text-foreground"
                >{CONTACT_PHONE}</a
              >
            </dd>
          </div>
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Email</span>
              <EnvelopeIcon className="size-6 text-muted-foreground" />
            </dt>
            <dd>
              <a href={`mailto:${CONTACT_EMAIL}`} class="hover:text-foreground"
                >{CONTACT_EMAIL}</a
              >
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <ContactForm client:load />
  </div>
</div>
