---
import { CONTACT_EMAIL, CONTACT_PHONE } from "@/consts";
import {
  BuildingOffice2Icon,
  EnvelopeIcon,
  PhoneIcon,
} from "@heroicons/react/20/solid";
---

<div class="relative isolate bg-background">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pt-24 pb-20 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div
          class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden lg:w-1/2"
        >
        </div>
        <h2
          class="text-4xl font-semibold tracking-tight text-pretty text-foreground sm:text-5xl"
        >
          Get in touch
        </h2>
        <p class="mt-6 text-lg/8 text-muted-foreground"></p>
        <dl class="mt-10 space-y-4 text-base/7 text-muted-foreground">
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Address</span>
              <BuildingOffice2Icon className="size-6 text-muted-foreground" />
            </dt>
            <dd>1965 W Henderson Rd.<br />Upper Arlington, OH 43220</dd>
          </div>
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Telephone</span>
              <PhoneIcon className="size-6 text-muted-foreground" />
            </dt>
            <dd>
              <a href={`tel:${CONTACT_PHONE}`} class="hover:text-foreground"
                >{CONTACT_PHONE}</a
              >
            </dd>
          </div>
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Email</span>
              <EnvelopeIcon className="size-6 text-muted-foreground" />
            </dt>
            <dd>
              <a href={`mailto:${CONTACT_EMAIL}`} class="hover:text-foreground"
                >{CONTACT_EMAIL}</a
              >
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <form
      method="POST"
      id="form"
      class="px-6 pt-20 pb-24 sm:pb-32 lg:px-8 lg:py-48"
    >
      <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
        <input
          type="hidden"
          name="access_key"
          value="62e2f460-313e-44d8-8921-b2618243d192"
        />
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label
              for="name"
              class="block text-sm/6 font-semibold text-foreground">Name</label
            >
            <div class="mt-2.5">
              <input
                id="name"
                type="text"
                name="name"
                required
                class="block w-full rounded-md bg-background px-3.5 py-2 text-base text-foreground outline-1 -outline-offset-1 outline-border placeholder:text-muted-foreground focus:outline-2 focus:-outline-offset-2 focus:outline-primary"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm/6 font-semibold text-foreground">Email</label
            >
            <div class="mt-2.5">
              <input
                id="email"
                type="email"
                name="email"
                required
                class="block w-full rounded-md bg-background px-3.5 py-2 text-base text-foreground outline-1 -outline-offset-1 outline-border placeholder:text-muted-foreground focus:outline-2 focus:-outline-offset-2 focus:outline-primary"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="message"
              class="block text-sm/6 font-semibold text-foreground"
              >Message</label
            >
            <div class="mt-2.5">
              <textarea
                id="message"
                name="message"
                required
                rows="4"
                class="block w-full rounded-md bg-background px-3.5 py-2 text-base text-foreground outline-1 -outline-offset-1 outline-border placeholder:text-muted-foreground focus:outline-2 focus:-outline-offset-2 focus:outline-primary"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="mt-8 flex justify-end">
          <button
            type="submit"
            class="rounded-md bg-primary px-3.5 py-2.5 text-center text-sm font-semibold text-primary-foreground shadow-xs hover:bg-primary/90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
            >Submit Form</button
          >
        </div>
        <div id="result" class="mt-4"></div>
      </div>
    </form>
  </div>
</div>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
