---
import { ExclamationTriangleIcon } from "@heroicons/react/24/solid";
import { Button } from "@/components/ui/button";
---

<section class="w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-24 sm:py-32">
  <div
    class="relative w-full rounded-lg border-2 border-dashed p-12 text-center text-standard border-highlight flex flex-col gap-4 justify-center items-center"
  >
    <ExclamationTriangleIcon className="mx-auto size-10 text-yellow-500 mb-4" />

    <span class="mt-2 block text-4xl font-semibold text-standard"
      >Page not yet implemented</span
    >
    <Button className="max-w-min"><a href="/">Return to homepage</a></Button>
    <Button variant="link"
      ><a href="https://www.jakehayes.net/contact"
        >Contact Jake Hayes to learn more&nbsp;→</a
      ></Button
    >
  </div>
</section>
